<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/styles2.css">
    <link rel="icon" href="../static/Logo.svg">
</head>
<body class="fullpage">
<header>
    <nav>
        <ul>
            <li><a href="http://peoplegeneratorapi.live/">Overview</a></li>
            <li><a href="http://peoplegeneratorapi.live/get-started">Get Started</a></li>
            <li><a href="http://peoplegeneratorapi.live/endpoints">Endpoints</a></li>
            <li><a href="http://peoplegeneratorapi.live/fields">Fields</a></li>
            <li><a href="http://peoplegeneratorapi.live/about">About</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <br>
        <div class="logo" onclick="window.location.href='https://github.com/specialiststeak';">
            <img src="../static/github-mark-white.svg" height="512" width="512" alt="github_logo"/>
        </div>
        <div class="content">
            <h1>About Me</h1>
            <p class="about-p">Thank you for taking the time to read this! I'm a passionate Java student trying to
                create
                solutions to the challenges I encounter while developing my projects. If you would like to learn more,
                or see some of my other projects, please consider checking out my GitHub above!</p>
            <p class="about-p">If you have any questions or would like to get in touch, you can find me
                at <a href="mailto:30266b22-69ee-4995-a77b-f510cc66ed54@anonaddy.me">this email</a>. I'd love to hear
                from you!</p>
        </div>
    </section>
</main>
<footer>
    <p><span>&copy;</span> 2023 SpecialistSteak</p>
    <p class="middleelement"><a href="https://github.com/specialiststeak">GitHub</a></p>
    <p><a href="mailto:30266b22-69ee-4995-a77b-f510cc66ed54@anonaddy.me">Email Me</a></p>
</footer>
</body>
</html>