<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get Started</title>
    <link rel="stylesheet" type="text/css" href="../static/styles2.css">
    <link rel="icon" href="../static/Logo.svg">
    <script>
        function openCity(evt, cityName) {
            let i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</head>
<body class="fullpage">
<header style="padding-bottom: 20px">
    <nav>
        <ul>
            <li><a href="https://peoplegeneratorapi.me/">Overview</a></li>
            <li><a href="https://peoplegeneratorapi.me/get-started">Get Started</a></li>
            <li><a href="https://peoplegeneratorapi.me/endpoints">Endpoints</a></li>
            <li><a href="https://peoplegeneratorapi.me/fields">Fields</a></li>
            <li><a href="https://peoplegeneratorapi.me/about">About</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="get-started" style="padding-left: 20px">
        <h1 style="text-align: left;" class="title">Get-Started</h1>
        <p>Below are the first steps you can take to access and start using the API.</p>
        <hr class="separator">
        <br>
        <section>
            <h2>Requesting 100 People:</h2>
            <p>Each of the tabs show example code for how to request 100 people in different languages:</p>

            <div class="tab">
                <button class="tablinks active" onclick="openCity(event, 'JavaScript')">JavaScript</button>
                <button class="tablinks" onclick="openCity(event, 'Java')">Java</button>
                <button class="tablinks" onclick="openCity(event, 'Python')">Python</button>
            </div>

            <div id="JavaScript" class="tabcontent" style="display: block;">
console.log(
    fetch('https://peoplegeneratorapi.me/api/person/100')
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error(error))
);</div>

            <div id="Java" class="tabcontent" style="display: none;">
import java.net.http.*;
import java.net.URI;
import java.io.*;
import java.nio.charset.StandardCharsets;
import java.util.zip.GZIPInputStream;

public class Main {
    private static String decompressGzip(byte[] compressedData) {
        try (GZIPInputStream gis = new GZIPInputStream(
                new ByteArrayInputStream(compressedData))) {
            return new String(gis.readAllBytes(), StandardCharsets.UTF_8);
        } catch (IOException e) { return null; }
    }
    public static void main(String[] args) throws IOException, InterruptedException {
        HttpClient client = HttpClient.newHttpClient();
        HttpRequest request = HttpRequest.newBuilder()
                .uri(URI.create(
                    "https://peoplegeneratorapi.me/api/person/501"))
                .GET()
                .build();
        HttpResponse&#60;byte[]> response = client.send(request,
                HttpResponse.BodyHandlers.ofByteArray());
        System.out.println(decompressGzip(response.body()));
    }
}</div>

            <div id="Python" class="tabcontent" style="display: none;">
import requests

response = requests.get('https://peoplegeneratorapi.me/api/person/100')
response = response.json()
encoded_response = str(response).encode('utf-8').replace(b"'", b'"')
print(encoded_response)</div>
        </section>
        <br>
        <h3>Example API Response:</h3>
        <p style="padding-bottom:5px">
            Below are some examples you might see when requesting a response from the API.
            If there are multiple people, it will instead come as an array of people objects.
        </p>
        <br>
        <h3>Person Object:</h3>
<code class="codeblock">{
    "name": "Minh Legros",
    "age": 30,
    "job": "Plumber",
    "incomeUSD": 62475,
    "creditScore": 449,
    "ccNumber": "6709345624532578",
    "married": true,
    "hasChildren": true,
    "height": 166.0,
    "weight": 70.9,
    "eyeColor": "BROWN",
    "email": "minhlegros@hotmail.com",
    "gender": "Male",
    "hasDegree": false,
    "bloodType": "AB-",
    "username": "minh91",
    "politicalLeaning": -0.78,
    "religion": "Christianity",
    "address": {
        "streetAddress": "432 Rebecka Mission",
        "city": "Victoria",
        "state": "English River",
        "country": "Seychelles",
        "zip": "2896",
        "geonameId": 241131,
        "phoneNumber": "+248 20045111",
        "ipAddress": "30.4.184.217",
        "countryCode": "SC"
    },
    "doB": "Tue Sep 21 11:25:21 IST 1993",
    "gpa": 2.2
}</code>
        <br>
        <h3>Address Object:</h3>
        <br>
<code class="codeblock">{
    "streetAddress": "39975 Joesph Garden",
    "city": "Panagyurishte",
    "state": "Khaskovo",
    "country": "Bulgaria",
    "zip": "9976",
    "geonameId": 733264,
    "phoneNumber": "+359 710422585",
    "ipAddress": "248.91.191.196",
    "countryCode": "BG"
}</code>
        <br>
        <h3>Lifestory Object:</h3>
        <br>
        <code class="codeblock">{
    "person": {
        ...Person object, details ommitted for brevity...
    },
    "lifestory": "Harvey Krajcik is a 43-year-old who was born on Sun Mar 22 13:05:47 IST 1981. Harvey works as
    a geologist and lives in Shymkent, AtyraÅ«, Kazakhstan. He is married and has children. He is 160.0cm tall
    and weighs 69.2 kg, and has brown eyes and a blood type of A-. He has a GPA of 3.0, and doesn't have a
    degree. His income is $70830, and he has a credit score of 437. His credit card number is 3441-081071-67187.
    He uses harvey_krajcik@gmail.com for Hisemail address and harvey30 for His username on various websites. He
    follows Buddhism and his political leaning is -0.82. He has a geonameid of 609123 and his phone number is +7
    4144872266. He is from Kazakhstan and his IP address is 244.16.7.60"
}</code>
    </section>
    <br>
</main>
<footer>
    <p><span>&copy;</span> 2024 SpecialistSteak</p>
    <p class="middleelement"><a href="https://github.com/specialiststeak">GitHub</a></p>
    <p><a href="mailto:30266b22-69ee-4995-a77b-f510cc66ed54@anonaddy.me">Email Me</a></p>
</footer>
</body>
</html>