<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get Started</title>
    <link rel="stylesheet" type="text/css" href="../static/styles2.css">
    <link rel="icon" href ="../static/Logo.svg">
</head>
<body class="fullpage">
<header style="padding-bottom: 20px">
    <nav>
        <ul>
            <li><a href="https://peoplegeneratorapi.live/">Overview</a></li>
            <li><a href="https://peoplegeneratorapi.live/get-started">Get Started</a></li>
            <li><a href="https://peoplegeneratorapi.live/endpoints">Endpoints</a></li>
            <li><a href="https://peoplegeneratorapi.live/fields">Fields</a></li>
            <li><a href="https://peoplegeneratorapi.live/about">About</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="get-started" style="padding-left: 20px">
        <h1 style="text-align: left;" class="title">Get-Started</h1>
        <p>Below are the first steps you can take to access and start using the API.</p>
        <hr class="separator">
        <br>
        <h3>Request One Person:</h3>
        <p class="get-started">
            To see a single example user, send a GET request to <code>/person/</code>.
        </p>
        <br>
        <h3>Example API Response:</h3>
        <p style="padding-bottom:5px">
            Below are some examples you might see when requesting a response from the API.
            If there are multiple people, it will instead come in the form of an array of people.
        </p>
        <br>
        <h3>Person Object:</h3>
        <br>
        <code class="codeblock">{
    "name": "Mana Nikolaus",
    "age": 63,
    "job": "Landscaper",
    "dateOfBirth": "Wed Sep 28 18:49:25 IST 1960",
    "incomeInUSD": 39372,
    "creditScore": 582,
    "creditCardNumber": "6767-7908-0221-8566",
    "married": true,
    "hasChildren": false,
    "height": 165.0,
    "weight": 80.8,
    "eyeColor": "GRAY",
    "email": "mana.mana@gmail.com",
    "gender": "Male",
    "hasDegree": true,
    "bloodType": "B+",
    "username": "mana98",
    "politicalLeaning": -0.39,
    "religion": "Christianity",
    "address": {
        "streetAddress": "1139 Padberg Branch",
        "city": "Tarawa",
        "state": "Gilbert Islands",
        "country": "Kiribati",
        "zipCode": "2770",
        "geonameID": 2110257,
        "phoneNumber": "+686 9861645",
        "countryCode": "KI",
        "nationality": "Kiribati",
        "ipaddress": "34.233.237.5"
    },
    "gpa": 2.5
}</code>
        <br>
        <h3>Address Object:</h3>
        <br>
        <code class="codeblock">{
    "streetAddress": "1139 Padberg Branch",
    "city": "Tarawa",
    "state": "Gilbert Islands",
    "country": "Kiribati",
    "zipCode": "2770",
    "geonameID": 2110257,
    "phoneNumber": "+686 9861645",
    "countryCode": "KI",
    "nationality": "Kiribati",
    "ipaddress": "34.233.237.5"
}</code>
        <br>
        <h3>Lifestory Object:</h3>
        <br>
        <code class="codeblock">{
    "person": {
        ...Person object, details ommitted for brevity...
    },
    "lifestory": "Harvey Krajcik is a 43-year-old who was born on Sun Mar 22 13:05:47 IST 1981. Harvey works as a geologist and lives in Shymkent, AtyraÅ«, Kazakhstan. He is married and has children. He is 160.0cm tall and weighs 69.2 kg, and has brown eyes and a blood type of A-. He has a GPA of 3.0, and doesn't have a degree. His income is $70830, and he has a credit score of 437. His credit card number is 3441-081071-67187. He uses harvey_krajcik@gmail.com for Hisemail address and harvey30 for His username on various websites. He follows Buddhism and his political leaning is -0.82. He has a geonameid of 609123 and his phone number is +7 4144872266. He is from Kazakhstan and his IP address is 244.16.7.60"
}</code>
    </section>
    <br>
</main>
<footer>
    <p><span>&copy;</span> 2023 SpecialistSteak</p>
    <p class="middleelement"><a href="https://github.com/specialiststeak">GitHub</a></p>
    <p><a href="mailto:30266b22-69ee-4995-a77b-f510cc66ed54@anonaddy.me">Email Me</a></p>
</footer>
</body>
</html>